<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>


<div class="col-md-8">
    <% if @user.books.any? %>
      <h3>Books (<%= @user.books.ids %>)</h3>
      <ol class="books">
        <%= @books.ids %>
      </ol>
    <% end %>
  </div>


<table class="table is-bordered is-striped is-narrow">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Author</th>
    <th>Seller ID</th>
    <th>Book ID</th>
    <th>Price</th>
    <th>Date of Listing</th>
  </tr>
<% @books.each do |book| %> 
  <tr>
    <td><%= book.title %></td>
    <td><%= book.description %></td>
    <td><%= book.author %></td>
    <td><%= @user.name %></td>
    <td><%= book.id %></td>
    <td><%= book.price %></td>
    <td><%= book.created_at.strftime("%b. %d %Y") %></td>
  </tr>
<% end %>
</table>
