<table class="table is-bordered is-striped is-narrow" style="background-color: rgba(49, 28, 28, 0.6)">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Author</th>
    <th>Seller ID</th>
    <th>Book ID</th>
    <th>Price</th>
    <th>Date of Listing</th>
    <th>Add to Cart</th>
  </tr>
<% @book_list.each do |book| %> 
  <tr>
    <td><%= book.title %>
    <td><%= book.description %></td>
    <td><%= book.author %></td>
    <td><%= book.user_id %></td>
    <td><%= book.id %></td>
    <td><%= book.price %></td>
    <td><%= book.created_at.strftime("%b. %d %Y") %></td>
    <td><%= link_to "Add", addToCart_url, method: :get, data: { confirm: "Add to Cart?" } %></td>
  </tr>
<% end %>
</table>