<% provide(:title, "New Sell") %>
<h1>Book Added to Market</h1>
<h2>
<table class="table is-bordered is-striped is-narrow" style="background-color: rgba(49, 28, 28, 0.6)">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Author</th>
    <th>Seller ID</th>
    <th>Book ID</th>
    <th>Price</th>
    <th>Date of Listing</th>
  </tr>
  <tr>
    <td><%= @book.title %></td>
    <td><%= @book.description %></td>
    <td><%= @book.author %></td>
    <td><%= @user_id %></td>
    <td><%= @book.id %></td>
    <td><%= @book.price %></td>
    <td><%= @book.created_at.strftime("%b. %d %Y") %></td>
  </tr>
</table>
</h2>
