<table class="table is-bordered is-striped is-narrow" style="background-color: rgba(49, 28, 28, 0.6)">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Author</th>
    <th>Seller ID</th>
    <th>Book ID</th>
    <th>Price</th>
    <th>Date of Listing</th>
    <th>Remove from Cart</th>
  </tr>
<% @cart_item_list.each do |cart_item| %> 
  <tr>
    <td><%= cart_item.title %></td>
    <td><%= cart_item.description %></td>
    <td><%= cart_item.author %></td>
    <td><%= cart_item.user_id %></td>
    <td><%= cart_item.id %></td>
    <td><%= cart_item.price %></td>
    <td><%= cart_item.created_at.strftime("%b. %d %Y") %></td>
    <td><%= link_to "Remove", cart_item, method: :delete, data: { confirm: "You sure?" } %></td>
  </tr>
<% end %>
</table>